/* Use similar styles from ReadingDashboard.css */
.popup-text-wrapper {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.popup-text {
  animation: popUpText 2s ease-out forwards;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animated-button {
  animation: bounce 2s infinite; /* Apply bounce animation */
}

button:hover {
  animation: none; /* Stop bounce on hover for interaction */
}
