.background {
    background-image: url('../../assets/background_images/back_img1.jpg');
    background-size: cover; 
    background-position: center;
    width: 100vw; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0; 
    padding: 0; 
  }
  
  .monkey-img {
    position: absolute;
    bottom: 20px; 
    animation: moveMonkey 10s forwards; /* move the image once and retain */
    width: 100px; 
  } 
  
  @keyframes moveMonkey {
    0% {
      left: 100%; /* Start from the right */
    }
    100% {
      left: 50%; /* Stay in the center */
    }
  }
  